.div__header {
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 50%;
}

.header span {
    font-size: 14px;
    font-weight: 600;
}

.button__style {
    background-color: #6880FF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    height: 39px;
    width: 114px;
    border: none;
    border-radius: 12px;
}

.button__style:hover {
    background-color: #7C91FF;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
}